node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env
.env.*
!.env.example
.expo/
.expo-shared/
.expo/web-build/
.expo/packager-info.json
.expo/metro-cache/
.watchmanconfig
.packager/
logs/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/.settings/
android/.cxx/
*.apk
*.ap_
*.aab
*.keystore
*.jks
ios/Pods/
ios/build/
ios/DerivedData/
ios/.generated/
ios/.idea/
ios/.swiftpm/
ios/*.xcworkspace/
ios/Podfile.lock
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
.DS_Store
.idea/
.vscode/
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
coverage/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
build/
dist/
tmp/
temp/
*.log
*.tmp
*.hprof
.buckconfig.local
.buckd/
buck-out/
.buckversion
.buckconfig
.buckconfig.local
.buck-out/
.buckd/
.gradle/
local.properties
*.iml
.cxx/
captures/
*.orig
*.rej
.DS_Store
